<div class="firstTour__section is-hidden">
  <div class="firstTour__container">
    <button
      type="button"
      class="firstTour__close-button"
      aria-label="close-info"
    >
      <svg class="firstTour__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="swiper firstTour__swiper-container">
      <div class="swiper-wrapper firstTour__swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide firstTour__swiper-slide-firstContainer">
          <div class="firstTour__swiper-slide-info-wrapper">
            <h3 class="firstTour__swiper-tittle">Ascent to Hoverla</h3>
              <p class="firstTour__swiper-date">1 day</p>
              <ul class="firstTour__swiper-sheduleList">
                <li class="firstTour__swiper-sheduleItem">
                  Departure from Lviv
                </li>
                <li class="firstTour__swiper-sheduleItem">Manyava Hermitage</li>
                <li class="firstTour__swiper-sheduleItem">Manyava waterfall</li>
                <li class="firstTour__swiper-sheduleItem">
                  Arrival to Bukovel
                </li>
                <li class="firstTour__swiper-sheduleItem">Check-in</li>
                <li class="firstTour__swiper-sheduleItem">Dinner</li>
                <li class="firstTour__swiper-sheduleItem">
                  Evening by the fireplace
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide firstTour__swiper-slide-secondContainer">
            <div class="firstTour__swiper-slide-info-wrapper"><h3 class="firstTour__swiper-tittle">Ascent to Hoverla</h3>
              <p class="firstTour__swiper-date">2 day</p>
              <ul class="firstTour__swiper-sheduleList">
                <li class="firstTour__swiper-sheduleItem">Breakfast</li>
                <li class="firstTour__swiper-sheduleItem">Ascent to Hoverla</li>
                <li class="firstTour__swiper-sheduleItem">Dinner</li>
                <li class="firstTour__swiper-sheduleItem">Recreation</li>
                <li class="firstTour__swiper-sheduleItem">Sauna</li>
                <li class="firstTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
            <div class="swiper-slide firstTour__swiper-slide-thirdContainer">
              <div class="firstTour__swiper-slide-info-wrapper"><h3 class="firstTour__swiper-tittle">Ascent to Hoverla</h3>
              <p class="firstTour__swiper-date">3 day</p>
              <ul class="firstTour__swiper-sheduleList">
                <li class="firstTour__swiper-sheduleItem">Breakfast</li>
                <li class="firstTour__swiper-sheduleItem">
                  A walk around Bukovel
                </li>
                <li class="firstTour__swiper-sheduleItem">
                  Check out from the hotel
                </li>
                <li class="firstTour__swiper-sheduleItem">Yaremche</li>
                <li class="firstTour__swiper-sheduleItem">Arrival in Lviv</li>
              </ul></div></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination firstTour__swiper-pagination">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            </div>
          </div>

          <div class="firstTour__infoWrapper">
            <p class="firstTour__info">UAH 4,499/person</p>
            <a class="firstTour__info-button" href="#hero"> BOOK A TOUR </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
