<footer class="footer">
  <div class="footer__container">
    
    <h2 class="footer__tittle" id="contacts">Contacts</h2>
    <div class="footer__connect-info-wrapper">
    <ul class="footer__contactList">
      <li class="footer__contactItem">
        <a class="footer__contactLink" href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9F%D0%B5%D1%82%D1%80%D0%B0+%D0%94%D0%BE%D1%80%D0%BE%D1%88%D0%B5%D0%BD%D0%BA%D0%BE,+44,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8373172,24.0188201,15.71z/data=!4m6!3m5!1s0x473add701560834d:0x404791f70e3e2d2!8m2!3d49.8376099!4d24.0223017!16s%2Fg%2F1tfycbny?hl=ru&entry=ttu" target="_blank">
          <svg class="footer__contactLink-icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-place"></use></svg>Lviv, st Dorosheko, 44 k
        </a>
      </li>
      <li class="footer__contactItem">
        <a class="footer__contactLink href="tel:+380971676790">
          <svg class="footer__contactLink-icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-phone"></use>
          </svg>
          +38 (097) 162 -67-90
        </a>
      </li>
      <li class="footer__contactItem">
        <a class="footer__contactLink href="mailto:mandrykarpaty@gmail.com" >
          <svg class="footer__contactLink-icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-email"></use>
          </svg>
          mandrykarpaty@gmail.com
        </a>
      </li>
    </ul>
    <ul class="footer__socialsWrapper">
      <li class="footer__socialsItem">
        <svg  class="footer__socialsItem-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </li>
      <li class="footer__socialsItem">
        <svg class="footer__socialsItem-icon" width="40" height="40" >
          <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="footer__socialsItem">
        <svg  class="footer__socialsItem-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
    </div>
  </div>
    <p class="footer__addInfo"><span class="footer__Unicode">©</span> Created by LelekaSoft</p>
  
</footer>
