<section class="gallery__sectionTab">
  <h2 class="gallery__tittleTab" id="galleryTab">Gallery</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <ul class="gallery__listTab">
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery1Desk.jpg 2x    1x,
                      ./images/gallery1Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery1Tab.jpg    1x,
                  ./images/gallery1Tab@2x.jpg 2x
                "
                src="./images/gallery1Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery2Desk.jpg 2x    1x,
                      ./images/gallery2Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery2Tab.jpg    1x,
                  ./images/gallery2Tab@2x.jpg 2x
                "
                src="./images/gallery2Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="gallery__listTab">
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery3Desk.jpg 2x    1x,
                      ./images/gallery3Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery3Tab.jpg    1x,
                  ./images/gallery3Tab@2x.jpg 2x
                "
                src="./images/gallery3Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery4Desk.jpg 2x    1x,
                      ./images/gallery4Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery4Tab.jpg    1x,
                  ./images/gallery4Tab@2x.jpg 2x
                "
                src="./images/gallery4Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="gallery__listTab">
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery5Desk.jpg 2x    1x,
                      ./images/gallery5Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery5Tab.jpg    1x,
                  ./images/gallery5Tab@2x.jpg 2x
                "
                src="./images/gallery5Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery6Desk.jpg 2x    1x,
                      ./images/gallery6Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery6Tab.jpg    1x,
                  ./images/gallery6Tab@2x.jpg 2x
                "
                src="./images/gallery6Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="gallery__listTab">
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery7Desk.jpg 2x    1x,
                      ./images/gallery7Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery7Tab.jpg    1x,
                  ./images/gallery7Tab@2x.jpg 2x
                "
                src="./images/gallery7Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
              />
            </picture>
          </li>
          <li class="gallery__itemTab">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                      ./images/gallery8Desk.jpg 2x    1x,
                      ./images/gallery8Desk@2x.jpg 2x
                    "
              />
              <img
                srcset="
                  ./images/gallery8Tab.jpg    1x,
                  ./images/gallery8Tab@2x.jpg 2x
                "
                src="./images/gallery8Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="gallery__image"
                height="100%"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-navigation__wrapper">
      <div class="prevEl">
        <svg class="prevEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="nextEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
