<section class="gallery__sectionMob">
  <h2 class="gallery__tittleMob" id="gallery">Gallery</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery1Mob.jpg 1x, ./images/gallery1Mob@2x.jpg 2x"
            src="./images/gallery1Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery2Mob.jpg 1x, ./images/gallery2Mob@2x.jpg 2x"
            src="./images/gallery2Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery3Mob.jpg 1x, ./images/gallery3Mob@2x.jpg 2x"
            src="./images/gallery3Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery4Mob.jpg 1x, ./images/gallery4Mob@2x.jpg 2x"
            src="./images/gallery4Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery5Mob.jpg 1x, ./images/gallery5Mob@2x.jpg 2x"
            src="./images/gallery5Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery6Mob.jpg 1x, ./images/gallery6Mob@2x.jpg 2x"
            src="./images/gallery6Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery7Mob.jpg 1x, ./images/gallery7Mob@2x.jpg 2x"
            src="./images/gallery7Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="311"
            class="gallery__image"
          />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="gallery__item">
          <img
            srcset="./images/gallery8Mob.jpg 1x, ./images/gallery8Mob@2x.jpg 2x"
            src="./images/gallery8Mob.jpg"
            alt="Carpathians"
            width="311"
            loading="lazy"
            class="gallery__image"
          />
        </div>
      </div>
    </div>
    <div class="swiper-navigation__wrapper">
      <div class="prevEl">
        <svg class="prevEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="nextEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
