<header class="menu_header">
  <div class="menu_heder_container">
    <a href="./index.html" lang="en" class="menu__logo-link">
      <svg class="menu__logo" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="open-mobile__button" type="button" aria-label="open-menu">
      <svg class="open-mobile__button-icon" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>

    <button class="close-mobile__button" type="button" aria-label="close-menu">
      <svg class="close-mobile__button-icon" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
