<header class="headerDesc">
  <a class="headerDesc__link" href="./index.html">
    <svg class="headerDesc__logo" width="56" height="58">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>

  <nav class="headerDesc__nav">
    <ul class="headerDesc__nav-list">
      <li class="headerDesc__nav-item">
        <a class="headerDesc__nav-link" href="#about">About us</a>
      </li>
      <li class="headerDesc__nav-item">
        <a class="headerDesc__nav-link" href="#tours">Tours</a>
      </li>
      <li class="headerDesc__nav-item">
        <a class="headerDesc__nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="headerDesc__nav-item">
        <a class="headerDesc__nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="headerDesc__nav-item">
        <a class="headerDesc__nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
