<section class="hero" id="hero">
  <div class="hero__container">
    <h1 class="hero__title">TOURS TO THE CARPATHIANS FROM LVIV</h1>
    <h1 class="hero__titleTab">TOURS TO </br>THE CARPATHIANS </br> FROM LVIV</h1>
    <h1 class="hero__titleDesc">TOURS TO THE</br> CARPATHIANS FROM LVIV</h1>
    <p class="hero__subtitle">
      Journeys to the very heart of the </br>Carpathians for those who want a real </br>
      reboot
    </p>
    <p class="hero__subtitleTab">
      Journeys to the very heart of the Carpathians</br> for those who want a real reboot
    </p>
    <a class="hero__button" data-modal-open >
      BOOK A TOUR
    </a>

    <ul class="hero__contacts-list">
      <li class="hero__contacts-item"><a class="hero__contacts-link">
        <svg class="hero__contacts-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg></a>
      </li>
      <li class="hero__contacts-item"><a class="hero__contacts-link">
        <svg class="hero__contacts-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg></a>
      </li>
      <li class="hero__contacts-item"><a class="hero__contacts-link">
        <svg class="hero__contacts-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg></a>
      </li>
    </ul>
  </div>
</section>
