<div class="mobile-menu js-menu-container is-open">
  <a class="mobile-menu__logo-link" href="./index.html"
    ><svg class="mobile-menu__logo" width="40" height="40">
      <use href="./images/symbol-defs.svg#icon-logo"></use></svg
  ></a>
  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__nav-list">
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#about">About us</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#tours">Тours</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <nav class="tablet-menu__nav">
    <ul class="tablet-menu__nav-list">
      <li class="tablet-menu__nav-item">
        <a class="tablet-menu__nav-link" href="#about">About us</a>
      </li>
      <li class="tablet-menu__nav-item">
        <a class="tablet-menu__nav-link" href="#toursTab">Тours</a>
      </li>
      <li class="tablet-menu__nav-item">
        <a class="tablet-menu__nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="tablet-menu__nav-item">
        <a class="tablet-menu__nav-link" href="#galleryTab">Gallery</a>
      </li>
      <li class="tablet-menu__nav-item">
        <a class="tablet-menu__nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <ul class="mobile-menu__socials-list">
    <li class="mobile-menu__socials-item">
      <a class="mobile-menu__socials-link"
        ><svg class="mobile-menu__socials-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-telegram"></use></svg
      ></a>
    </li>
    <li class="mobile-menu__socials-item">
      <a class="mobile-menu__socials-link"
        ><svg class="mobile-menu__socials-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="mobile-menu__socials-item">
      <a class="mobile-menu__socials-link"
        ><svg class="mobile-menu__socials-icon" width="40" height="40">
          <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
      ></a>
    </li>
  </ul>
</div>
