<section class="ourAdvantages__section">
  <h2 class="ourAdvantages__title">Our advantages</h2>
  <div class="ourAdvantages__wrapper">
    <ul class="ourAdvantages__images-list">
      <li class="ourAdvantages__first-image-wrapper">
        <picture>
          <source
            media="(min-width:768px)"
            srcset="
              ./images/advantages1Desc.jpg    1x,
              ./images/advantages1Desc@2x.jpg 2x
            "
          />
          <img
            srcset="
              ./images/advantages1Tab.jpg    1x,
              ./images/advantages1Tab@2x.jpg 2x
            "
            src="./images/advantages1Tab.jpg"
            alt="Carpathians"
            loading="lazy"
            width="100%"
            class="ourAdvantages__image"
          />
        </picture>
      </li>
      <li class="ourAdvantages__second-image-wrapper">
        <img
          srcset="
            ./images/advantages2Desc.jpg    1x,
            ./images/advantages2Desc@2x.jpg 2x
          "
          src="./images/advantages2Desc.jpg"
          alt="Carpathians"
          loading="lazy"
          class="ourAdvantages__image"
        />
      </li>

      <li class="ourAdvantages__third-image-wrapper">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./images/advantages3Desc.jpg    1x,
              ./images/advantages3Desc@2x.jpg 2x
            "
          />

          <source
            media="(min-width:768px)"
            srcset="
              ./images/advantages2Tab.jpg    1x,
              ./images/advantages2Tab@2x.jpg 2x
            "
          />
          <img
            srcset="
              ./images/advantagesMob.jpg    1x,
              ./images/advantagesMob@2x.jpg 2x
            "
            src="./images/advantagesMob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="100%"
            class="ourAdvantages__image"
          />
        </picture>
      </li>
    </ul>
    <ul class="ourAdvantages__list">
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >author's tours
      </li>
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >іndividual approach
      </li>
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >addordable prices
      </li>
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >comfortable transfer
      </li>
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >professional guides
      </li>
      <li class="ourAdvantages__item">
        <svg class="ourAdvantages__icon">
          <use href="./images/symbol-defs.svg#icon-star_small"></use></svg
        >accommodation in hotels from 3+ *
      </li>
    </ul>
  </div>
</section>
