<section class="questions">
  <div class="questions__container">
    <h2 class="questions__tittle">Questions</h2>
    <div class="questions__modal">
      <form>
        <h3 class="questions__form-tittle">Do you have </br>any questions?</h3>
        <h3 class="questions__formDesc-tittle">Do you have any questions?</h3>
        <p class="questions__form-subtittle">
          You can leave your questions here </br> and our manager will call you </br> back
          within 10 minutes
        </p>
         <p class="questions__formDesc-subtittle">
          You can leave your questions here and our </br>manager will call you back
          within 10 minutes
        </p>
        <input class="questions__form-input" placeholder="Your name*" type="text" name="text" required pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space."/>
        <input class="questions__form-input" placeholder="Phone number*" type="number" name="number" required/>
        <textarea class="questions__form-textarea" placeholder="What would you like to know?"></textarea>
        <button type="submit" class="questions__form-button">CALL ME</button>
      </form>
    </div>
  </div>
</section>
