<section class="reviews">
  <h2 class="reviews__tittle" id="reviews">Reviews</h2>
  <ul class="reviews__list">
    <li class="reviews__item">
      <div class="cards">
        <div class="card front">
          <div class="reviews__image-wrapper">
            <div class="reviews__avatar-wrapper">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                      ./images/reviewsAva1Desk.png 2x    1x,
                      ./images/reviewsAva1Desk@2x.png 2x
                    "
                />
                <img
                  srcset="
                    ./images/reviewsAva1Mob.png    1x,
                    ./images/reviewsAva1Mob@2x.png 2x
                  "
                  src="./images/reviewsAva1Mob.png"
                  width="100"
                  alt="Avatar"
                  loading="lazy"
                  class="reviews__image"
                />
              </picture>
            </div>
          </div>
          <div class="reviews__info-wrapper">
            <h3 class="reviews__card-tittle">Maria</h3>
            <p class="reviews__card-description">
              It was really cool! We saw everything - sun, snow, rain, fog! It's
              very exciting and interesting, you won't regret it - it's worth
              going and seeing everything with your own eyes. Everything is
              organized at the highest level.
            </p>
          </div>
        </div>
        <div class="card back">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/reviews1Desk.jpg    1x,
                ./images/reviews1Desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/reviews1Tab.jpg    1x,
                ./images/reviews1Tab@2x.jpg 2x
              "
            />
            <img
              srcset="
                ./images/reviews1Mob.jpg    1x,
                ./images/reviews1Mob@2x.jpg 2x
              "
              src="./images/reviews1Mob.jpg"
              alt="Carpathians"
              loading="lazy"
              class="reviews__back-image"
              width="100%"
             height="100%"
            />
          </picture>
        </div>
      </div>
    </li>

    <li class="reviews__item">
      <div class="cards">
        <div class="card front">
          <div class="reviews__image-wrapper">
            <div class="reviews__avatar-wrapper">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                      ./images/reviewsAva2Desk.png 2x    1x,
                      ./images/reviewsAva2Desk@2x.png 2x
                    "
                />

                <img
                  srcset="
                    ./images/reviewsAva2Mob.png    1x,
                    ./images/reviewsAva2Mob@2x.png 2x
                  "
                  src="./images/reviewsAva2Mob.png"
                  width="100"
                  alt="Avatar"
                  loading="lazy"
                  class="reviews__image"
                />
              </picture>
            </div>
          </div>
          <div class="reviews__info-wrapper">
            <h3 class="reviews__card-tittle">Ostap</h3>
            <p class="reviews__card-description">
              Good organization, everything went smoothly. Friendly guide Taras
              told interesting facts about the area and customs throughout the
              tour.
            </p>
          </div>
        </div>
        <div class="card back">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/reviews2Desk.jpg    1x,
                ./images/reviews2Desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/reviews2Tab.jpg    1x,
                ./images/reviews2Tab@2x.jpg 2x
              "
            />
            <img
              srcset="
                ./images/reviews2Mob.jpg    1x,
                ./images/reviews2Mob@2x.jpg 2x
              "
              src="./images/reviews2Mob.jpg"
              alt="Carpathians"
              loading="lazy"
              class="reviews__back-image"
              width="100%"
              height="100%"
            />
          </picture>
        </div>
      </div>
    </li>

    <li class="reviews__item hidden">
      <div class="cards">
        <div class="card front">
          <div class="reviews__image-wrapper">
            <div class="reviews__avatar-wrapper">
              <picture>
                <img
                  srcset="
                    ./images/reviewsAva3Desk.png    1x,
                    ./images/reviewsAva3Desk@2x.png 2x
                  "
                  src="./images/reviewsAva3Desk.png"
                  width="100"
                  alt="Avatar"
                  loading="lazy"
                  class="reviews__image"
                />
            </div>
          </div>
          <div class="reviews__info-wrapper">
            <h3 class="reviews__card-tittle">Anita</h3>
            <p class="reviews__card-description">
              Who is going to the mountains for the first time - this is exactly the tour and the people who organize everything. Guide Makar is interesting stories, selection of a route for a comfortable ascent, motivation and support.
            </p>
          </div>
        </div>
        <div class="card back">
          

            <img
              srcset="
                ./images/reviews3Desk.jpg    1x,
                ./images/reviews3Desk@2x.jpg 2x
              "
              src="./images/reviews3Desk.jpg"
              alt="Carpathians"
              loading="lazy"
              class="reviews__back-image"
              width="100%"
              height="100%"
            />
         
        </div>
      </div>
    </li>
  </ul>
</section>
