<div class="secondTour__section is-hidden">
  <div class="secondTour__container">
    <button
      type="button"
      class="secondTour__close-button"
      aria-label="close-info"
    >
      <svg class="secondTour__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="swiper secondTour__swiper-container">
      <div class="swiper-wrapper secondTour__swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide secondTour__swiper-slide-firstContainer">
          <div class="secondTour__swiper-slide-info-wrapper">
            <h3 class="secondTour__swiper-tittle">Ski tour to Bukovel</h3>
              <p class="secondTour__swiper-date">1 day</p>
              <ul class="secondTour__swiper-sheduleList">
                <li class="secondTour__swiper-sheduleItem">
                  Departure from Lviv
                </li>
                <li class="secondTour__swiper-sheduleItem">Manyava Hermitage</li>
                <li class="secondTour__swiper-sheduleItem">Manyava waterfall</li>
                <li class="secondTour__swiper-sheduleItem">
                  Arrival to Bukovel
                </li>
                <li class="secondTour__swiper-sheduleItem">Check-in</li>
                <li class="secondTour__swiper-sheduleItem">Dinner</li>
                <li class="secondTour__swiper-sheduleItem">
                  Evening by the fireplace
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide secondTour__swiper-slide-secondContainer">
            <div class="secondTour__swiper-slide-info-wrapper">
                <h3 class="secondTour__swiper-tittle">Ski tour to Bukovel</h3>
              <p class="secondTour__swiper-date">2 day</p>
              <ul class="secondTour__swiper-sheduleList">
                <li class="secondTour__swiper-sheduleItem">Breakfast</li>
                <li class="secondTour__swiper-sheduleItem">Recreation</li>
                <li class="secondTour__swiper-sheduleItem">Lunch</li>
                <li class="secondTour__swiper-sheduleItem">Recreation</li>
                <li class="secondTour__swiper-sheduleItem">Sauna</li>
                <li class="secondTour__swiper-sheduleItem">Dinner</li>
                <li class="secondTour__swiper-sheduleItem">Vacation</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide secondTour__swiper-slide-thirdContainer">
            <div class="secondTour__swiper-slide-info-wrapper">
                <h3 class="secondTour__swiper-tittle">Ski tour to Bukovel</h3>
              <p class="secondTour__swiper-date">3 day</p>
              <ul class="secondTour__swiper-sheduleList">
                <li class="secondTour__swiper-sheduleItem">Breakfast</li>
                <li class="secondTour__swiper-sheduleItem">A walk around Bukovel</li>
                <li class="secondTour__swiper-sheduleItem">Dinner</li>
                <li class="secondTour__swiper-sheduleItem">Recreation</li>
                <li class="secondTour__swiper-sheduleItem">Sauna</li>
                <li class="secondTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
            <div class="swiper-slide secondTour__swiper-slide-fourthContainer">
              <div class="secondTour__swiper-slide-info-wrapper">
                <h3 class="secondTour__swiper-tittle">Ski tour to Bukovel</h3>
              <p class="secondTour__swiper-date">4 day</p>
              <ul class="secondTour__swiper-sheduleList">
                <li class="secondTour__swiper-sheduleItem">Breakfast</li>
                <li class="secondTour__swiper-sheduleItem">
                  Recreation
                </li>
                <li class="secondTour__swiper-sheduleItem">
                 Dinner
                </li>
                <li class="secondTour__swiper-sheduleItem">Departure from Bukovel</li>
                <li class="secondTour__swiper-sheduleItem">Arrival in Lviv</li>
              </ul></div></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination secondTour__swiper-pagination">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            </div>
          </div>

          <div class="secondTour__infoWrapper">
            <p class="secondTour__info">UAH 7,499/person</p>
            <a class="secondTour__info-button" href="#hero"> BOOK A TOUR </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>