<section class="upcomingToursTab__section">
  <h2 class="upcomingToursTab__tittle" id="toursTab">Upcoming tours</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <ul class="upcomingToursTab__list">
          <li class="upcomingToursTab__item">
            <div class="upcomingToursTab__imageWrapper">
              <img
                srcset="./images/slide1Tab.jpg 1x, ./images/slide1Tab@2x.jpg 2x"
                src="./images/slide1Tab.jpg"
                width="311"
                alt="Carpathians"
                loading="lazy"
                class="upcomingToursTab__image"
              />
            </div>
            <div class="upcomingToursTab__infoWrapper">
              <p class="upcomingToursTab__infoTittle">Ascent to Hoverla</p>
              <p class="upcomingToursTab__infoSubTittle">
                From UAH 4,499/person
              </p>
              <button
                class="upcomingToursTab__infoButton"
                data-first-tour-modalTab-open
              >
                MORE DETAILS
              </button>
            </div>
          </li>
          <li class="upcomingToursTab__item">
            <div class="upcomingToursTab__imageWrapper">
              <img
                srcset="./images/slide2Tab.jpg 1x, ./images/slide2Tab@2x.jpg 2x"
                src="./images/slide2Tab.jpg"
                width="311"
                alt="Carpathians"
                loading="lazy"
                class="upcomingToursTab__image"
              />
            </div>
            <div class="upcomingToursTab__infoWrapper">
              <p class="upcomingToursTab__infoTittle">Ski tour to Bukovel</p>
              <p class="upcomingToursTab__infoSubTittle">
                From UAH 7,499/person
              </p>
              <button
                class="upcomingToursTab__infoButton"
                data-second-tour-modalTab1-open
              >
                MORE DETAILS
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="upcomingToursTab__list">
          <li class="upcomingToursTab__item">
            <div class="upcomingToursTab__imageWrapper">
              <img
                srcset="./images/slide2Tab.jpg 1x, ./images/slide2Tab@2x.jpg 2x"
                src="./images/slide2Tab.jpg"
                width="311"
                alt="Carpathians"
                loading="lazy"
                class="upcomingToursTab__image"
              />
            </div>
            <div class="upcomingToursTab__infoWrapper">
              <p class="upcomingToursTab__infoTittle">Ski tour to Bukovel</p>
              <p class="upcomingToursTab__infoSubTittle">
                From UAH 7,499/person
              </p>
              <button
                class="upcomingToursTab__infoButton"
                data-second-tour-modalTab2-open
              >
                MORE DETAILS
              </button>
            </div>
          </li>
          <li class="upcomingToursTab__item">
            <div class="upcomingToursTab__imageWrapper">
              <img
                srcset="./images/slide3Tab.jpg 1x, ./images/slide3Tab@2x.jpg 2x"
                src="./images/slide3Tab.jpg"
                alt="Carpathians"
                loading="lazy"
                class="upcomingToursTab__image"
              />
            </div>
            <div class="upcomingToursTab__infoWrapper">
              <p class="upcomingToursTab__infoTittle">Week in Carpathians</p>
              <p class="upcomingToursTab__infoSubTittle">
                From UAH 9,999/person
              </p>
              <button
                type="button"
                class="upcomingToursTab__infoButton"
                data-third-tourTab-open
              >
                MORE DETAILS
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-navigation__wrapper">
      <div class="prevEl">
        <svg class="prevEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="nextEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
