<section class="upcomingToursMob__section">
  <h2 class="upcomingToursMob__tittle" id="tours">Upcoming tours</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="upcomingTours__item">
          <div class="upcomingTours__imageWrapper">
            <img
              srcset="./images/slide1Mob.jpg 1x, ./images/slide1Mob@2x.jpg 2x"
              src="./images/slide1Mob.jpg"
              width="311"
              alt="Carpathians"
              loading="lazy"
              class="upcomingTours__image"
            />
          </div>
          <div class="upcomingTours__infoWrapper">
            <p class="upcomingTours__infoTittle">Ascent to Hoverla</p>
            <p class="upcomingTours__infoSubTittle">From UAH 4,499/person</p>
            <button
              class="upcomingTours__infoButton"
              data-first-tour-modal-open
            >
              MORE DETAILS
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="upcomingTours__item">
          <div class="upcomingTours__imageWrapper">
            <img
              srcset="./images/slide2Mob.jpg 1x, ./images/slide2Mob@2x.jpg 2x"
              src="./images/slide2Mob.jpg"
              width="311"
              alt="Carpathians"
              loading="lazy"
              class="upcomingTours__image"
            />
          </div>
          <div class="upcomingTours__infoWrapper">
            <p class="upcomingTours__infoTittle">Ski tour to Bukovel</p>
            <p class="upcomingTours__infoSubTittle">From UAH 7,499/person</p>
            <button
              class="upcomingTours__infoButton"
              data-second-tour-modalMob-open
            >
              MORE DETAILS
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="upcomingTours__item">
          <div class="upcomingTours__imageWrapper">
            <img
              srcset="./images/slide3Mob.jpg 1x, ./images/slide3Mob@2x.jpg 2x"
              src="./images/slide3Mob.jpg"
              alt="Carpathians"
              loading="lazy"
              class="upcomingTours__image"
            />
          </div>
          <div class="upcomingTours__infoWrapper">
            <p class="upcomingTours__infoTittle">Week in Carpathians</p>
            <p class="upcomingTours__infoSubTittle">From UAH 9,999/person</p>
            <button
              type="button"
              class="upcomingTours__infoButton"
              data-third-tour-modalMob-open
            >
              MORE DETAILS
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-navigation__wrapper">
      <div class="prevEl">
        <svg class="prevEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="nextEl__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
