<section class="upcomingToursDesc__section">
  <h2 class="upcomingToursDesc__tittle" id="toursDesc">Upcoming tours</h2>
  <ul class="upcomingToursDesc__list">
    <li class="upcomingToursDesc__item">
      <div class="upcomingToursDesc__imageWrapper">
        <img
          srcset="./images/slide1Desk.jpg 1x, ./images/slide1Desk@2x.jpg 2x"
          src="./images/slide1Desk.jpg"
          alt="Carpathians"
          loading="lazy"
          class="upcomingToursDesc__image"
        />
      </div>
      <div class="upcomingToursDesc__infoWrapper">
        <p class="upcomingToursDesc__infoTittle">Ascent to Hoverla</p>
        <p class="upcomingToursDesc__infoSubTittle">From UAH 4,499/person</p>
        <button
          class="upcomingToursDesc__infoButton"
          data-first-tour-modalDesc-open
        >
          MORE DETAILS
        </button>
      </div>
    </li>
    <li class="upcomingToursDesc__item">
      <div class="upcomingToursDesc__imageWrapper">
        <img
          srcset="./images/slide2Desk.jpg 1x, ./images/slide2Desk@2x.jpg 2x"
          src="./images/slide2Desk.jpg"
          alt="Carpathians"
          loading="lazy"
          class="upcomingToursDesc__image"
        />
      </div>
      <div class="upcomingToursDesc__infoWrapper">
        <p class="upcomingToursDesc__infoTittle">Ski tour to Bukovel</p>
        <p class="upcomingToursDesc__infoSubTittle">From UAH 7,499/person</p>
        <button
          class="upcomingToursDesc__infoButton"
          data-second-tour-modalDesc-open
        >
          MORE DETAILS
        </button>
      </div>
    </li>
    <li class="upcomingToursDesc__item">
      <div class="upcomingToursDesc_imageWrapper">
        <img
          srcset="./images/slide3Desk.jpg 1x, ./images/slide3Desk@2x.jpg 2x"
          src="./images/slide3Desk.jpg"
          alt="Carpathians"
          loading="lazy"
          class="upcomingToursDesc__image"
        />
      </div>
      <div class="upcomingToursDesc__infoWrapper">
        <p class="upcomingToursDesc__infoTittle">Week in Carpathians</p>
        <p class="upcomingToursDesc__infoSubTittle">From UAH 9,999/person</p>
        <button
          class="upcomingToursDesc__infoButton"
          data-third-tour-modalDesc-open
        >
          MORE DETAILS
        </button>
      </div>
    </li>
  </ul>
</section>
