<div class="thirdTour__section is-hidden">
  <div class="thirdTour__container">
    <button
      type="button"
      class="thirdTour__close-button"
      aria-label="close-info"
    >
      <svg class="thirdTour__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="swiper thirdTour__swiper-container">
      <div class="swiper-wrapper thirdTour__swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide thirdTour__swiper-slide-firstContainer">
          <div class="thirdTour__swiper-slide-info-wrapper">
            <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">1 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">
                  Departure from Lviv
                </li>
                <li class="thirdTour__swiper-sheduleItem">Dovbush rocks</li>
                <li class="thirdTour__swiper-sheduleItem">Lunch</li>
                <li class="thirdTour__swiper-sheduleItem">
                 Tustan forttress
                </li>
                <li class="thirdTour__swiper-sheduleItem">Check-in</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide thirdTour__swiper-slide-secondContainer">
            <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">2 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">Lake Synevyr</li>
                <li class="thirdTour__swiper-sheduleItem">Ecopark "Valley of Wolves"</li>
                <li class="thirdTour__swiper-sheduleItem">Lunch</li>
                <li class="thirdTour__swiper-sheduleItem">Excursion to Kolochava</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide thirdTour__swiper-slide-thirdContainer">
            <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">3 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">Shipit waterfall</li>
                <li class="thirdTour__swiper-sheduleItem">Gimba mountain</li>
                <li class="thirdTour__swiper-sheduleItem">Recreation</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide thirdTour__swiper-slide-fourthContainer">
            <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">4 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">Deer farm in Iza</li>
                <li class="thirdTour__swiper-sheduleItem">Warm waters in Velyatino</li>
                <li class="thirdTour__swiper-sheduleItem">Geographical center of Europe</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
          
          <div class="swiper-slide thirdTour__swiper-slide-fifthContainer">
            <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">5 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">Ascent to Hoverla</li>
                <li class="thirdTour__swiper-sheduleItem">Recreation</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul>
            </div>
          </div>
            <div class="swiper-slide thirdTour__swiper-slide-sixthContainer">
              <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">6 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">
                  Hut-museum from the "Shadows of Forgotten Ancestors"
                </li>
                <li class="thirdTour__swiper-sheduleItem">
                 Lunch
                </li>
                <li class="thirdTour__swiper-sheduleItem">Rating of free time</li>
                <li class="thirdTour__swiper-sheduleItem">Dinner</li>
              </ul></div></div>
              <div class="swiper-slide thirdTour__swiper-slide-seventhContainer">
            <div class="thirdTour__swiper-slide-info-wrapper">
                <h3 class="thirdTour__swiper-tittle">Week in Carpathians</h3>
              <p class="thirdTour__swiper-date">7 day</p>
              <ul class="thirdTour__swiper-sheduleList">
                <li class="thirdTour__swiper-sheduleItem">Breakfast</li>
                <li class="thirdTour__swiper-sheduleItem">Dovbush trail</li>
                <li class="thirdTour__swiper-sheduleItem">Souvenir fair</li>
                <li class="thirdTour__swiper-sheduleItem">Lunch</li>
                <li class="thirdTour__swiper-sheduleItem">Probij waterfall</li>
                <li class="thirdTour__swiper-sheduleItem">Return to Lviv</li>
              </ul>
            </div>
          </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination secondTour__swiper-pagination">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            </div>
          </div>

          <div class="thirdTour__infoWrapper">
            <p class="thirdTour__info">UAH 9,999/person</p>
            <a class="thirdTour__info-button" href="#hero" data-close-thirdModal> BOOK A TOUR </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>